@tailwind base;
@tailwind components;
@tailwind utilities;

.step {
  transform: translateY(50px);
  opacity: 0;
  animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}